# ---------------------------
# 🔹 Configuración general
# ---------------------------
PORT=7008
NODE_ENV=production
URL_HOST=localhost
APP_ENV=development   # puedes usar esto para activar Swagger en main.ts

# ---------------------------
# 🔹 Base de datos PostgreSQL
# ---------------------------
DB_HOST=localhost      # 👈 nombre del servicio si luego agregas postgres al compose
DB_PORT=5432
DB_USER=postgres
DB_PASS=123456
DB_NAME=db_api_graphql_base

# ---------------------------
# 🔹 Redis
# ---------------------------
REDIS_PORT=6379
REDIS_HOST=192.168.4.66  # 👈 nombre del servicio del compose

# ---------------------------
# 🔹 JWT
# ---------------------------
JWT_SECRET=secret
JWT_EXPIRES_IN=1h

# ---------------------------
# 🔹 Correo (Mailpit o SMTP)
# ---------------------------
EMAIL_HOST=mailpit     # 👈 si corres mailpit en Docker, o usa host.docker.internal para tu PC
EMAIL_PORT=1025
EMAIL_SECURE=false
EMAIL_USER=usuario
EMAIL_PASS=clave

# ---------------------------
# 🔹 Token de validación
# ---------------------------
TOKEN_VALIDATOR=1a2b3c4d5e6f7g8h9i0j1a2b3c4d5e6f7g8h9i0j1a2b3c4d5e6f7g8h9i0j1a

# ---------------------------
# 🔹 Bull Board
# ---------------------------
BULL_BOARD_PORT=9999

# ---------------------------
# 🔹 Zona horaria
# ---------------------------
TZ=America/Caracas
