# Puerto
PORT=9096
# Configuración de la Base de Datos
DB_HOST='localhost'
DB_PORT=5432
DB_USER='postgres'
DB_PASS=123456
DB_NAME='db_api_graphql_base'

# Configuración de JWT
JWT_SECRET=secret
JWT_EXPIRES_IN=1h
